<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login_style.css}"/>
</head>
<body>

<div id="login-form-wrap">
    <form id="login-form" method="post" th:action="@{/auth/login_process}" th:object="${authobj}">
        <p>
            <input type="text" id="username" name="username" placeholder="Username" required><i
                class="validation" th:field="*{username}"><span></span><span></span></i>
        </p>
        <p>
            <input type="password" id="password" name="password" placeholder="Password" required><i
                class="validation" th:field="*{password}"><span></span><span></span></i>
        </p>
        <p>
            <input type="submit" id="login" value="Sign In">
        </p>
    </form>
</div>

</body>
</html>