<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Dashboard</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/admin.min.css}" rel="stylesheet">
    <link th:href="@{/css/file_upload.css}" rel="stylesheet">
    <link th:href="@{/css/activeItem.css}" rel="stylesheet">
    <link th:href="@{/css/tabsCss.css}" rel="stylesheet">
    <link th:href="@{/css/imageView.css}" rel="stylesheet">
    <link th:href="@{/css/file_upload2.css}" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar::sidebar}"></div>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/sidebar::topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid h-100">
                <h1 class="h3 mb-2 text-gray-800" th:text="${isUpdate ? 'Edit Chemical':'Create Chemical'}"></h1>
                <div class="card shadow p-2" style="height: 600px">
                    <div class="card-body">
                        <!--                        <div class="form-add-journal">-->
                        <form method="post"
                              th:action="@{${isUpdate ? '/chemical/edit' : '/chemical/create'}}"
                              th:object="${chemical}" enctype="multipart/form-data">

                            <input type="hidden" name="id" th:field="*{id}">

                            <div class="wrapper">
                                <div class="tabs">
                                    <div class="tab">
                                        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                                        <label for="tab-1" class="tab-label">Chemical Compound details</label>
                                        <div class="tab-content">
                                            <div class="row align-items-center pt-2 pb-2">
                                                <div class="col" style="flex-grow: 0.2">
                                                    <p>Chemical Name*</p>
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" id="name" class="form-control" name="name" placeholder="name"
                                                           th:field="*{name}" required>
                                                </div>
                                            </div>
                                            <div class="row align-items-center pt-2 pb-2">
                                                <div class="col" style="flex-grow: 0.2">
                                                    <p>Chemical Category*</p>
                                                </div>
                                                <div class="col-6">
                                                    <select name="type" class="form-control" th:field="*{categoryId}" required>
                                                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center pt-2 pb-2">
                                                <div class="col" style="flex-grow: 0.2">
                                                    <p>Chemical Manufacturer*</p>
                                                </div>
                                                <div class="col-6">
                                                    <select name="type" class="form-control" th:field="*{manufacturerId}" required>
                                                        <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row align-items-center pt-2 pb-2">
                                                <div class="col" style="flex-grow: 0.2">
                                                    <p>Available amount*</p>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" step="any" id="availableAmount" class="form-control" name="availableAmount" placeholder="Available amount"
                                                           th:field="*{availableAmount}" required>
                                                </div>
                                            </div>
                                            <div class="row align-items-center pt-2 pb-2">
                                                <div class="col" style="flex-grow: 0.2">
                                                    <p>Price*</p>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" step="any" id="price" class="form-control" name="price" placeholder="price"
                                                           th:field="*{price}" required>
                                                </div>
                                            </div>
                                            <div class="row align-items-center pt-2 pb-2">
                                                <div class="col" style="flex-grow: 0.2">
                                                    <p>Unit*</p>
                                                </div>
                                                <div class="col-6">
                                                    <select name="unit" class="form-control" th:field="*{unitTypeId}" required>
                                                        <option th:each="unit : ${unitTypeList}" th:value="${unit.ordinal()}" th:text="${unit.name()}"></option>
                                                    </select>
<!--                                                    <input type="number" step="any"  id="unit" class="form-control" name="unit" placeholder="unit"-->
<!--                                                           th:field="*{unit}" required>-->
                                                </div>
                                            </div>
                                            <div th:replace="~{/fragments/saveButton :: save4}"></div>
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                                        <label for="tab-2" class="tab-label">Chemical Compound Image</label>
                                        <div class="tab-content">
                                            <div class="row pt-2 pb-2" th:object="${multipart}">
<!--                                                <div class="file-upload image-file-upload col-7" style="background-color:white;">-->
<!--                                                <div class="file-select">-->
<!--                                                    <div class="file-select-button">Choose Image</div>-->
<!--                                                    <div class="file-select-name" id="productImageChosen">No file chosen...</div>-->
<!--                                                    <input type="file" name="productImage" id="productImage" accept="image/*" required>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                                <div class="container1">
                                                    <input  type="file" name="file" id="file" accept="image/*" hidden> <!-- th:field="*{multipartFile}" -->
                                                    <div class="img-area" data-img="">
                                                        <i class='bx bxs-cloud-upload icon'></i>
                                                        <h3>Upload Image</h3>
                                                        <p>Image size must be less than <span>2MB</span></p>
                                                    </div>
                                                    <button type="button"  class="select-image">Select Image</button>
                                                    <div th:replace="~{/fragments/saveButton :: save3}"></div>
                                                </div>
                                            </div>
<!--                                            <div class="row pt-2 pb-2">-->
<!--                                                <div class="col-2">-->
<!--                                                <div class="form-type">-->
<!--                                                    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                                        <label for="tab-3" class="tab-label">Chemical Compound Description</label>
                                        <div class="tab-content">
                                            <textarea class="form-control" id="description" rows="5"
                                                      name="description"
                                                      placeholder="Description" th:field="${chemical.description}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/admin.min.js}"></script>
<script th:src="@{/js/file_upload.js}"></script>
<script th:src="@{/js/imageView.js}"></script>
        <script th:src="@{/js/file_upload2.js}"></script>
<script>
    if (![[${isUpdate}]]) {
        document.getElementById("productImage").required = true;
    }
</script>

</body>
</html>

<!--<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>-->


