<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Confirmation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="confirmation">
        <h1>Thank you for your purchase!</h1>
        <div class="product-details">
            <h2 th:text="${chemical.name}"></h2>
            <p class="description" th:text="${chemical.description}"></p>
            <p class="price" th:text="'Price: $' + ${chemical.price}"></p>
        </div>
        <p class="message">Your order has been successfully processed.</p>
    </div>
</div>
</body>
</html>
