<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Product Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/confirmation.css}">
</head>
<body>

<div class="container">
    <h2>Purchase Product</h2>
    <form th:action="@{/index/purchase}" method="post" th:object="${chemical}">



        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:required="required">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" th:required="required">
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" th:required="required">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" th:required="required">
        </div>
        <button type="submit">Purchase</button>
    </form>
</div>

</body>
</html>
