<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{/css/admin.min.css}" rel="stylesheet">
    <link th:href="@{/css/activeItem.css}" rel="stylesheet">
</head>
<body>
<h1>Chemical Details</h1>
<!--</div>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
        <h1>Product Details</h1>
        <div th:if="${chemical}">
            <h2 th:text="${chemical.name}"></h2>
            <p th:text="${chemical.description}"></p>
            <p th:text="'Price: $' + ${chemical.price}"></p>
        </div>
        <div th:unless="${chemical}">
            <p>No product found</p>
        </div>
</body>
</html>

</body>
</html>