<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link th:href="@{/css/checkout.css}" rel="stylesheet">
    <link th:href="@{/css/confirmation.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="product-details">
        <h1 th:text="${chemical.name}"></h1>
        <div class="product-image">
            <img th:src="@{'/attach/open/'+${chemical.imgUrl}}" onerror="this.onerror; this.src='https://as2.ftcdn.net/v2/jpg/05/52/90/05/1000_F_552900530_D4WF1c3zGsvIGfLgKaRBrEmbvPlk6O6E.jpg'"  >
        </div>



<!--        <form th:href="@{'/index/confirmation/' + ${chemical.id}}" th:object = "${chemical}" method="get">-->
<!--        <form th:action="@{/index/confirmation}" th:object = "${chemical}" method="get">-->
<!--            <button class="checkout-button">Checkout</button>-->
<!--        </form>-->
        <p class="description" th:text="${chemical.description}"></p>
        <p class="price" th:text="'Price: $' + ${chemical.price}"></p>
<!--        <div class="quantity">-->
<!--            <label for="quantity">Quantity:</label>-->
<!--            <input type="number" id="quantity" name="quantity" min="1" value="1">-->
<!--        </div>-->
    </div>
</div>

<div class="container">
    <h2>Purchase Product</h2>
    <form th:action="@{'/index/purchase/'+ ${chemical.id}}" th:object = "${userDto}" method="post">

        <input type="hidden" name="id" th:field="*{id}">
        <div class="quantity">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" value="1">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:value = "${userDto.email}" th:required="required">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" th:required="required">
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" th:required="required">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" th:required="required">
        </div>
        <button type="submit">Purchase</button>
    </form>
</div>
</body>
</html>
