<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{/css/admin.min.css}" rel="stylesheet">
    <link th:href="@{/css/activeItem.css}" rel="stylesheet">
</head>
<body>
<div class="row pt-2 pl-3">
    <h1>Chemical Reagents</h1>
    <!--        <div >-->
    <ul class="ml-auto pr-5 pt-3">
        <li class="d-flex justify-content-end pr" th:if="${#authorization.expression('isAuthenticated()')}">
            <span th:text="${#authentication.name}"></span>
        </li>
    </ul>
    <!--        </div>-->
</div>
<!--</div>-->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <div th:fragment="topbar">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <form method="get" action="#" th:action="@{/index/chemicals}"
                      th:object="${filterDto}" style="width: 100%">

                    <div class="row align-items-center pt-2 pb-2" style="margin-left: 10px">
                        <div>
                            <input type="text" id="name" class="form-control" name="name" placeholder="Chemical name" th:field="*{name}">
                        </div>
                        <div class="col-2">

                            <select name="type" class="form-control" th:field="*{categoryId}">
                                <option value="" >Choose Category</option>
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}">
                                </option>
                            </select>
                        </div>
                        <div>
                            <select name="type" class="form-control" th:field="*{manufacturerId}">
                                <option value="" >Choose Manufacturer</option>
                                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}">
                                </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <input type="number" step="any" id="price" class="form-control" name="price" placeholder="Chemical price" th:field="*{price}">
                        </div>
                        <div class="col-2">
                            <select name="type" class="form-control" th:field="*{unitTypeId}">
                                <option value="" >Choose Unit</option>
                                <option th:each="unit : ${unitTypeList}" th:value="${unit.ordinal()}" th:text="${unit.name()}">
                                </option>
                            </select>
                        </div>
                        <div>
                            <div class="form-type">
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </div>
                        </div>
                        <!--                        <div class="row pt-2 pb-2">-->
                        <div class="p-1">
                            <a th:href="@{/index/chemicals}" class="btn btn-success" role="button" aria-pressed="true">Clear</a>
                        </div>
                        <!--                        </div>-->
                        <!--                        <div class="row pt-2 pb-2">-->
                        <div th:if="not ${#authorization.expression('isAuthenticated()')}">
                            <div class = "d-flex justify-content-end">
                                <a th:href="@{/auth/registration}" class="btn btn-primary" role="button" aria-pressed="true">Registration</a>
                            </div>
                        </div>
                        <div th:if="${#authorization.expression('isAuthenticated()')}">
                            <div class = "d-flex justify-content-end">
                                <a th:href="@{/auth/logout}" class="btn btn-primary" role="button" aria-pressed="true">Log Out</a>
                            </div>
                        </div>
                        <!--                        </div>-->

                        <!--                        <div class="d-flex justify-content-end" style="margin-left: 10px;">-->
                        <!--                            <a th:href="@{/index/chemicals}" class="btn btn-success" role="button"-->
                        <!--                               aria-pressed="true">Clear</a>-->
                        <!--                        </div>-->
                        <!--                        <div class="d-flex justify-content-end" style="margin-left: 10px;">-->
                        <!--                            <a th:href="@{/auth/registration}" class="btn btn-primary" role="button" aria-pressed="true">Registration page</a>-->
                        <!--                        </div>-->

                    </div>
                </form>

            </nav>
            <!-- End of Topbar -->
        </div>
        <div class="container-fluid">
            <!-- Content Row -->
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4" th:each="chemical : ${chemicals}">
                    <div class="card">
                        <img class="card-img-top" th:src="@{'/attach/open/'+${chemical.imgUrl}}" alt="chemical img" style="width: 100%; height: 250px"
                             onerror="this.onerror;
                             this.src='https://as2.ftcdn.net/v2/jpg/05/52/90/05/1000_F_552900530_D4WF1c3zGsvIGfLgKaRBrEmbvPlk6O6E.jpg'">
                        <div class="card-body" style="height: 190px">
                            <h5 class="card-title" th:text="${chemical.name}">Card title</h5>
                            <p class="card-text"th:text="'Description: ' + ${chemical.description}" style="margin-bottom: 0">description</p>
                            <p class="card-text"th:text="'Price: $' + ${chemical.price}" style="margin-bottom: 0">price</p>
                            <p class="card-text"th:text="'Category: ' + ${chemical.category.title}" style="display: flex; margin-bottom: 0">title</p>
                            <p class="card-text"th:text="'Unit: ' + ${chemical.unitType.name()}" style="display: flex; margin-bottom: 0">title</p>
                            <a th:href="@{/index/details/{id}(id=${chemical.id})}"  class="btn btn-outline-primary btn-sm" style="margin-top: -20px; float: right;">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${totalPages > 1}" th:object="${filterDto}">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=0)}">First</a>
                        </li>
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=${currentPage - 1})}">Previous</a>
                        </li>
                        <li th:class="${currentPage == 0} ? 'page-item active' : 'page-item'"
                            th:if="${currentPage >= 0}">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=0)}">1</a>
                        </li>
                        <li th:class="${currentPage == 1} ? 'page-item active' : 'page-item'"
                            th:if="${currentPage >= 0}">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=1)}">2</a>
                        </li>
                        <li th:class="${currentPage == 2} ? 'page-item active' : 'page-item'"
                            th:if="${currentPage >= 0}">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=2)}">3</a>
                        </li>
                        <li class="page-item" th:if="${currentPage >= 0 && totalPages > 3}">
                            <span class="page-link">...</span>
                        </li>
                        <li th:class="${currentPage > 2} ? 'page-item active' : 'page-item'" th:if="${currentPage >=3}">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=${currentPage+1})}"
                               th:text="${currentPage+1}"></a>
                        </li>
                        <!--                        <li class="page-item" th:if="${currentPage >= 0}">-->
                        <!--                            <span class="page-link">...</span>-->
                        <!--                        </li>-->
                        <li class="page-item" th:if="${currentPage < totalPages - 3}">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=${totalPages - 3})}"
                               th:text="${totalPages}-2"></a>
                        </li>
                        <li class="page-item" th:if="${currentPage < totalPages - 3}">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=${totalPages - 2})}"
                               th:text="${totalPages}-1"></a>
                        </li>
                        <li class="page-item" th:if="${currentPage < totalPages - 3}">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=${totalPages - 1})}"
                               th:text="${totalPages}"></a>
                        </li>
                        <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : ''">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=${currentPage + 1})}">Next</a>
                        </li>
                        <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : ''">
                            <a class="page-link" th:href="@{/index/chemicals(name=${filterDto.name},category=${filterDto.categoryId},manufacturerId=${filterDto.manufacturerId},unitTypeId=${filterDto.unitTypeId},price=${filterDto.price},page=${totalPages - 1})}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>


    </div>
    <!-- End of Main Content -->
</div>
</body>
</html>