<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link th:href="@{/css/admin.min.css}" rel="stylesheet">
  <link th:href="@{/css/activeItem.css}" rel="stylesheet">
  <title>Shopping Cart</title>

</head>
<body>
<h1>Shopping Cart</h1>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${items}">
    <td th:text="${item.name}"></td>
    <td th:text="${item.price}"></td>
    <td th:text="${item.availableAmount} + ' ' + ${item.unitType.name().toLowerCase()}"></td>
    <td th:text="${item.price*item.availableAmount}"></td>
    <td>
      <div class="container">
      <a class="btn btn-primary" href="#" role="button">Edit</a>
      <a class="btn btn-danger" href="#" role="button">Remove</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<a class="btn-success btn-sm align-self-end" href="#">Checkout</a>
</body>
</html>
