<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Purchase</title>
    <link th:href="@{/css/succes.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="success">
        <h1>Thank you for your purchase!</h1>
        <p class="message">Your order has been successfully processed and send message your email.</p>
        <a href="/index/chemicals" class="back-button">Back to store</a>
    </div>
</div>
</body>
</html>