<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:fragment="paging(pageNum, label, tooltip, size, name, categoryId, price, unitTypeId, reverseSortDir)" class="page-link"
   th:href="@{'/chemical/list?'+'page='+${pageNum}+'&size='+${size}+'&name=' + ${name ?: ''} +'&categoryId=' + ${categoryId ?: ''} +'&price=' + ${price ?: ''} +'&unitType=' + ${unitTypeId ?: ''} +'&?&sortField=' + '&sortDir=' + ${reverseSortDir}}">
   th:title="${tooltip}" rel="tooltip">
  [[${label}]]
</a>
</body>
</html>