<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:fragment="paging(pageNum, label, pageSize, title)" class="page-link"
   th:href="@{'/category?' + 'page=' + ${pageNum} + '&size=' + ${pageSize}+'&title='+${title}}"
   th:title="${pageSize}" rel="tooltip">
  [[${label}]]
</a>
</body>
</html>