<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:fragment="paging(pageNum, label, tooltip,sortField,sortDir)" class="page-link"
   th:href="@{'/product2/filter?' + 'page=' + ${pageNum} + '&size=' + ${pageSize} +'&?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
   th:title="${tooltip}" rel="tooltip">
  [[${label}]]
</a>
</body>
</html>