<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:fragment="paging(pageNum, label, tooltip,unit)" class="page-link"
   th:href="@{'/unit?' + 'page=' + ${pageNum} + '&size=' + ${pageSize}+'&unit='+${unit}}"
   th:title="${tooltip}" rel="tooltip">
  [[${label}]]
</a>
</body>
</html>