<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="save">
  <div class="col-2" style="margin-left: 1120px;margin-top: -28px">
    <div class="form-type">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
  <a role="button" class="btn btn-primary" th:href="@{'/product2/filter'}" style="margin-left: 1070px;margin-top: -64px">
    Back
<!--    <button type="submit" class="btn btn-primary" style="margin-left: 1050px;margin-top: -64px">Back</button>-->
  </a>
</div>
<div th:fragment="save1">
  <div class="col-2" style="margin-left: 1120px;margin-top: 74px">
    <div class="form-type">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
  <a role="button" class="btn btn-primary" th:href="@{'/product2/filter'}" style="margin-left: 1070px;margin-top: -64px">
    Back
<!--    <button type="submit" class="btn btn-primary" style="margin-left: 1050px;margin-top: -64px">Back</button>-->
  </a>
</div>
<div th:fragment="save3">
  <div class="col-2" style="margin-left: 1100px;margin-top: -56px">
<!--    <div class="form-type">-->
      <button type="submit" class="btn btn-primary">Save</button>
<!--    </div>-->
    <a role="button" class="btn btn-primary" th:href="@{'/chemical/list'}" style="margin-left: 1050px;margin-top: -64px">
      Back
      <!--    <button type="submit" class="btn btn-primary" style="margin-left: 1050px;margin-top: -64px">Back</button>-->
    </a>
  </div>

</div>
<div th:fragment="save4">
  <div class="col-2" style="margin-left: 1000px; margin-top: 30px">
    <div class="form-type">
      <button type="submit" class="btn btn-primary">Save</button>
      <a role="button" class="btn btn-primary" th:href="@{'/chemical/list'}" >
        Back
        <!--    <button type="submit" class="btn btn-primary" style="margin-left: 1050px;margin-top: -64px">Back</button>-->
      </a>
    </div>
    <div>

    </div>
  </div>

</div>
<div th:fragment="back">
  <a th:href="@{'/product2/filter'}">
    <button type="submit" class="btn btn-primary" style="margin-left: 1100px;">Back</button>
  </a>

</div>
<div th:fragment="back2">
  <a th:href="@{'/product2/filter'}">
    <button type="submit" class="btn btn-primary" style="margin-left: 1100px;margin-top: -144.5px">Back</button>
  </a>

</div>
<div th:fragment="backEdit">
  <a th:href="@{'/product2/filter'}">
    <button type="submit" class="btn btn-primary" style="margin-left: 1050px;">Back</button>
  </a>
</div>

</body>
</html>