<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free-6.4.0-web/css/all.css}"/>
</head>
<body>

<div th:fragment="sidebar">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
            <div class="sidebar-brand d-flex align-items-center justify-content-center">Admin</div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item" th:class="${#strings.equals(activeLink,'dashboard') ? 'nav-item active' : 'nav-item'}">
            <a class="nav-link " th:href="@{/dashboard}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Nav Item - Tables -->
        <li class="nav-item" th:class="${#strings.equals(activeLink,'chemical') ? 'nav-item active' : 'nav-item'}">
            <a class="nav-link" th:href="@{/chemical/list}">
                <i class="fas fa-fw fa-book"></i>
                <span>Chemical</span></a>
        </li>
        <li class="nav-item" th:class="${#strings.equals(activeLink,'category') ? 'nav-item active' : 'nav-item'}">
            <a class="nav-link" th:href="@{/category/list}">
                <i class="fas fa-fw fa-layer-group"></i>
                <span>Category</span></a>
        </li>
        <li class="nav-item" th:class="${#strings.equals(activeLink,'manufacturer') ? 'nav-item active' : 'nav-item'}">
            <a class="nav-link" th:href="@{/manufacturer/list}">
                <i class="fas fa-fw fa-layer-group"></i>
                <span>Manufacturer</span></a>
        </li>
        <li class="nav-item" th:class="${#strings.equals(activeLink,'user') ? 'nav-item active' : 'nav-item'}">
            <a class="nav-link" th:href="@{/user/list}">
                <i class="fas fa-fw fa-user"></i>
                <span>User</span></a>
        </li>
<!--        <li class="nav-item" th:class="${#strings.equals(activeLink,'unit') ? 'nav-item active' : 'nav-item'}">-->
<!--            <a class="nav-link" th:href="@{/filter/unit}">-->
<!--                <i class="fas fa-fw fa-balance-scale"></i>-->
<!--                <span>Unit</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item" th:class="${#strings.equals(activeLink,'profile') ? 'nav-item active' : 'nav-item'}">-->
<!--            <a class="nav-link" th:href="@{/filter/profile}">-->
<!--                <i class="fas fa-fw fa-user"></i>-->
<!--                <span>Profile</span></a>-->
<!--        </li>-->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
    </ul>
    <!-- End of Sidebar -->
</div>


<div th:fragment="topbar">
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <span th:text="${#authentication.getPrincipal().getProfileId()}"></span>
                <span th:text="${#authentication.getPrincipal().getName()}"></span>
                <!--                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${profile}"></span>-->
            </li>
        </ul>

    </nav>
    <!-- End of Topbar -->
</div>

</body>
</html>