body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product-details {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details h1 {
    margin-top: 0;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-details .description {
    font-style: italic;
}

.product-details .price {
    font-weight: bold;
    color: #007bff;
}

.quantity {
    margin-top: 10px;
}

.quantity label {
    font-weight: bold;
}

.quantity input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-top: 5px;
}

.checkout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.checkout-button:hover {
    background-color: #0056b3;
}
