body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details h1 {
    margin-top: 0;
}

.product-details .description {
    font-style: italic;
}

.product-details .price {
    font-weight: bold;
    color: #007bff;
}

.checkout-button {
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* White text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}

.checkout-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
