body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.success {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.success h1 {
    margin-top: 0;
}

.message {
    font-style: italic;
    color: #28a745; /* Green color for success message */
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color for button */
    color: #fff; /* White text color */
    text-decoration: none; /* No underline */
    border-radius: 5px; /* Rounded corners */
}

.back-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
