<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Dashboard</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/admin.min.css}" rel="stylesheet">
    <link th:href="@{/css/file_upload.css}" rel="stylesheet">
    <link th:href="@{/css/activeItem.css}" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar::sidebar}"></div>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/sidebar::topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800" th:text="${isUpdate ? 'Edit Category':'Create Category'}"></h1>
                <div class="card shadow p-2">
                    <div class="card-body">
                        <!--                        <div class="form-add-journal">-->
                        <form method="post"
                              th:action="@{${isUpdate ? '/category/update' : '/category/create'}}"
                              th:object="${categoryDto}" >

                            <input type="hidden" name="id" th:field="*{id}">

                            <div class="row align-items-center pt-2 pb-2">
                                <div class="col-1">
                                    <p>Category name</p>
                                </div>
                                <div class="col-6">
                                    <div class="col-6">
                                        <input type="text" id="title" class="form-control" name="title" placeholder="title"
                                               th:field="*{title}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center pt-2 pb-2">
                                <div class="col-1">
                                    <p>Parent category</p>
                                </div>
                                <div class="col-3">
                                    <select name="parent" class="form-control" th:field="*{parentId}">
                                        <option value="" >Choose parent category </option>
                                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <select name="parent" class="form-control" th:field="*{enabled}" required>
                                        <option th:selected="true" th:value="true">Enabled true</option>
                                        <option th:value="false">Enabled false</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row pt-2 pb-2">
                                <div class="col-2">
                                    <div class="form-type">
                                        <a th:href="@{'/category/list'}" role="button" class="btn btn-primary">Back</a>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/admin.min.js}"></script>

</body>
</html>

<!--<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>-->


