<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Dashboard</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/admin.min.css}" rel="stylesheet">
    <link th:href="@{/css/activeItem.css}" rel="stylesheet">
    <link th:href="@{/css/disabled.css}" rel="stylesheet">
<!--    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto|Varela+Round}">-->
<!--    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">-->
<!--    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">-->

    <link rel="stylesheet" th:href="@{../static/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar::sidebar}"></div>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/sidebar::topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Categories</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-end">
                        <a th:href="@{/category/go/add}" class="btn btn-success" role="button"
                           aria-pressed="true">Add Group</a>
                    </div>
                    <form method="get"
                          th:action="@{${'/category/list'}}"
                          th:object="${filterDto}" >
                        <div class="row align-items-center pt-2 pb-2" style="margin-left: 10px">
                            <div class="col-2">
                                <input type="text" id="title" class="form-control" name="title" placeholder="Category title"
                                       th:field="*{title}">
                            </div>
<!--                            <div class="col-2">-->
<!--                                <select name="type" id="type" class="form-control" th:field="*{type}">-->
<!--                                    <option value="ALL">ALL</option>-->
<!--                                    <option value="A">A</option>-->
<!--                                    <option value="B">B</option>-->
<!--                                    <option value="C">C</option>-->
<!--                                </select>-->
<!--                            </div>-->
                            <div class="row pt-2 pb-2">
                                <div class="col-2">
                                    <div class="form-type">
                                        <button type="submit" class="btn btn-primary">Filter</button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-left: 10px;">
                                <a th:href="@{/category/list}" class="btn btn-success" role="button"
                                   aria-pressed="true">Clear</a>
                            </div>
                        </div>
                    </form>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">Id</th>
                                    <th style="text-align: center;">Category</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="category:${categories}">
                                    <td th:text="${category.id}"></td>
                                    <td th:text="${category.title}"></td>
                                    <td>
<!--                                        <a class="text-decoration-none" th:href="@{'/category/go/see/'+${category.id}}">-->
<!--                                                <button type="button" class="btn btn-secondary">-->
<!--                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">-->
<!--                                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>-->
<!--                                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>-->
<!--                                                    </svg>-->
<!--                                                </button>-->
<!--                                            </a>-->
                                        <a th:href="@{'/category/go/update/' + ${category.id}}"
                                           class="btn btn-info" role="button" aria-pressed="true" >Edit</a>

                                        <a  th:href="@{'/category/delete/' + ${category.id}}" aria-pressed="true"
                                            id="btnDelete" th:fileName="${category.title}"
                                            title="delete this file"
                                            class="fa-regular fa-trash-can icon-dark btn-delete"
                                            style="margin-left: 5px;" data-toggle="modal">
                                            <button   type="button" class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                    <div class="modal fade text-center" id="confirmModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete Confirmation</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <span id="confirmText"></span>
                                                </div>

                                                <div class="modal-footer">
                                                    <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:object="${filterDto}">
                            <nav aria-label="Pagination" th:if="${totalPages > 0}" th:object="${filterDto}">
                                <ul class="pagination justify-content-center">
                                    <li th:class="${currentPage == 0 } ? 'noclick' : ''">
                                        <a th:href="@{/category/list(page=${currentPage - 1},title=${filterDto.title})}">&laquo;</a>
                                    </li>
                                    <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}"
                                        th:class="${currentPage == pageNumber ? 'active' : ''}">
                                        <a th:href="@{/category/list(page=${pageNumber},size=${size},title=${filterDto.title})}" th:text="${pageNumber + 1}"></a>
                                    </li>
                                    <li th:class="${currentPage == totalPages - 1}  ? 'noclick' : ''">
                                        <a th:href="@{/category/list(page=${currentPage + 1},title=${filterDto.title})}">&raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>


                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/admin.min.js}"></script>
<script>
    $(document).ready(function () {
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);

            fileName = link.attr("fileName");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html("Do you want to delete the File: \<strong\>" + fileName + "\<\/strong\>?");
            $("#confirmModal").modal();
        });
    });
</script>

</body>

</html>